{
  "presets": [
    "react",
    ["env", {
      "modules": false ,
       "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "useBuiltIns":true
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "comments": false
}
